# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

CMakeFiles/
MakeFile
CMakeCache.txt
adventure/adventure
cmake_install.cmake
BuggyGame
BitArray
